# Python
env/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Node
node_modules/
dist/
build/

# Editor
.vscode/
.DS_Store

# OS
Thumbs.db

# Tailwind output
*.css.map

# Log files
*.log
